In [8]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

data_owid = "owid-covid-data.csv"

data_owid_df = pd.read_csv(data_owid)

In [2]:
#cleaning data/making tables
country = data_owid_df[["iso_code", "location", "continent", "population", "population_density", "gdp_per_capita", "extreme_poverty", "life_expectancy", "handwashing_facilities", "hospital_beds_per_thousand"]]
country.rename(columns= {"location": "country_name"}, inplace= True)
country.head()

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,iso_code,country_name,continent,population,population_density,gdp_per_capita,extreme_poverty,life_expectancy,handwashing_facilities,hospital_beds_per_thousand
0,AFG,Afghanistan,Asia,39835428.0,54.422,1803.987,NaN,64.83,37.746,0.5
1,AFG,Afghanistan,Asia,39835428.0,54.422,1803.987,NaN,64.83,37.746,0.5
2,AFG,Afghanistan,Asia,39835428.0,54.422,1803.987,NaN,64.83,37.746,0.5
3,AFG,Afghanistan,Asia,39835428.0,54.422,1803.987,NaN,64.83,37.746,0.5
4,AFG,Afghanistan,Asia,39835428.0,54.422,1803.987,NaN,64.83,37.746,0.5

In [3]:
policy = data_owid_df[["iso_code", "date", "stringency_index"]]
policy.head()

  iso_code        date  stringency_index
0      AFG  2020-02-24              8.33
1      AFG  2020-02-25              8.33
2      AFG  2020-02-26              8.33
3      AFG  2020-02-27              8.33
4      AFG  2020-02-28              8.33

In [4]:
cases = data_owid_df[["iso_code", "date", "total_cases_per_million", "new_cases_per_million", "new_cases_smoothed_per_million"]]
cases.head()

,iso_code,date,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million
0,AFG,2020-02-24,0.126,0.126,NaN
1,AFG,2020-02-25,0.126,0.000,NaN
2,AFG,2020-02-26,0.126,0.000,NaN
3,AFG,2020-02-27,0.126,0.000,NaN
4,AFG,2020-02-28,0.126,0.000,NaN

In [5]:
vaccines = data_owid_df[["iso_code", "date", "people_vaccinated_per_hundred", "people_fully_vaccinated_per_hundred", "total_boosters_per_hundred", "new_vaccinations_smoothed_per_million"]]
vaccines.head()

,iso_code,date,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million
0,AFG,2020-02-24,NaN,NaN,NaN,NaN
1,AFG,2020-02-25,NaN,NaN,NaN,NaN
2,AFG,2020-02-26,NaN,NaN,NaN,NaN
3,AFG,2020-02-27,NaN,NaN,NaN,NaN
4,AFG,2020-02-28,NaN,NaN,NaN,NaN

In [6]:
deaths = data_owid_df[["iso_code", "date", "total_deaths_per_million", "new_deaths_per_million", "new_deaths_smoothed_per_million", "excess_mortality_cumulative_per_million"]]
deaths.head()

,iso_code,date,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,excess_mortality_cumulative_per_million
0,AFG,2020-02-24,NaN,NaN,NaN,NaN
1,AFG,2020-02-25,NaN,NaN,NaN,NaN
2,AFG,2020-02-26,NaN,NaN,NaN,NaN
3,AFG,2020-02-27,NaN,NaN,NaN,NaN
4,AFG,2020-02-28,NaN,NaN,NaN,NaN

In [9]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
engine = create_engine(f'postgresql://postgres:1234@localhost:5432/COVID-19')
conn = engine.connect()

ModuleNotFoundError: No module named 'psycopg2'

In [ ]:
base = automap_base()

In [ ]:
base.prepare(engine, reflect=True)

In [ ]:
base.classes.keys()

In [ ]:
country.to_sql(name='country', con=engine, if_exists='append', index=False)

In [ ]:
cases.to_sql(name='cases', con=engine, if_exists='append', index=False)

In [ ]:
deaths.to_sql(name='deaths', con=engine, if_exists='append', index=False)

In [ ]:
vaccines.to_sql(name='vaccines', con=engine, if_exists='append', index=False)

In [ ]:
policy.to_sql(name='policy', con=engine, if_exists='append', index=False)